﻿@model ConverterBasimsetty.Models.Converter

<h2>@ViewData["Title"]</h2>

<div class="col-xs-12">
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="Zipcode" class="control-label"></label>
            <input asp-for="Zipcode" class="form-control" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Temperature_F"></label>
            <input asp-for="Temperature_F" class="form-control" />
            <span asp-validation-for="Temperature_F" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-info" />
        </div>

    </form>
</div>

<h2>@ViewData["Result"]</h2>

<script>
    if(@ViewData["Value"]<11){
        document.body.style.backgroundImage = "url(http://cuzimage.com/images/iphone-6-plus-6-5s-5c-5-wallpapers-and-iphone-4s-4-backgrounds-4.jpg)";

    }
    else if (@ViewData["Value"] >=11 && @ViewData["Value"] <=25){
        document.body.style.backgroundImage = "url(https://wallpaperscraft.com/image/height_mountains_slopes_pasture_cloudy_sky_storm_clouds_sheep_bad_weather_green_53263_1920x1080.jpg)";
    }
    else{
        document.body.style.backgroundImage = "url(http://www.desktopwallpaperhd.net/wallpapers/3/f/nature-desert-wallpaper-calming-33807.jpg)";
    }
</script>